html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  line-height: 2.8rem;
}

header, footer {
  background-color: black;
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
}

.banner {
  background-image: url("/Users/paularrj/Documents/projects/secretagent/resources/images/moto.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
}

.banner .container {
  display: flex;
}

.headline {
  position:relative;
  background-color: black;
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

 .headline h1 {
   font-size: 2rem;
   margin: 0.25rem 0;
 }

 nav {
   background-color: firebrick;
 }

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.products {
  display:flex;
  justify-content: space-between;
  margin: 3rem 0;
}
.product {
  width: 30%;
}

.image {
  height: 9rem;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.image img {
  width: 8rem;
}

.product p {
  background-color: black;
  padding: 0.5rem;
  text-align: center;
}

.info {
  display:flex;
  justify-content: space-between;
}

.data  {
  width: 35%;
  margin-bottom: 4rem;
}

.info .title {
  background-color: black;
  padding: 1rem 2rem;
}

.number {
  color: black;
  padding: 0;
  line-height: 1.5rem;
}

footer {
  text-align: left;
  height: 5rem;
}
