html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  line-height: 2.8rem;
}

header, footer {
  background-color: black;
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
}

.banner {
  background-image: url("/Users/paularrj/Documents/projects/secretagent/resources/images/moto.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
}

.banner .container {
  display: flex;
}

.headline {
  position:relative;
  background-color: black;
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  font-weight: bold;
  padding: 2rem 3rem;
}

 .headline h1 {
   font-size: 2rem;
   margin: 0.25rem 0;
 }
